* {
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
}
html,body{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat","Arial";
    color: white;
    background-color: #4B4E51;
    overflow-x: hidden;
}
img{
    width: 100%;
}

ul li{
    list-style-type: none;
}

header{
    position: fixed;
    width: 100%;
}
.bold-font{
    font-weight: bolder;
}
.black-color{
    color: black;
}
.green-color{
    color: rgba(0, 242, 0, 0.755);
}
.blue-color{
    color: #0D4671;
}
.red-color{
    color: red;
}
.dark-color{
    color: #8f9394;
}
.white-color{
    color: rgb(215, 211, 211);
}
.small-txt{
    font-size: 15px;
}
.medium-txt{
    font-size: 20px;
}
.large-txt{
    font-size: 40px;
}
.custom-padding{
    padding-top: 5px;
    padding-bottom: 5px;
}
.meet-yared{
    color: white;
}
.header-wrapper{
    background-color: #512c21;
}
.header-list ul li a{
    text-decoration: none;
    color: rgb(252, 252, 252);
    opacity: 0.5;
}
.header-list ul li a:hover{
    opacity: 1;
}
.download-button {
    margin-left: 60px;
    padding-top: 4px;
    text-align: center;
    height: 35px;
    border-radius: 20px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    width: 150px;
}
.download-button:hover{
  opacity: 0.7;
}
.back-img{
    margin: 0;
    padding-top: 40px;
    height: 350px;
    background-image: url("../images/bg/pexels-shkrabaanthony-5475755.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px 7px #5a2a1c;
    height: 100vh;
    width: 100%;
}
.Home{
   
}

.home-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding: 10px;
    
}
.home-section-2{
    display: none;
}
.hhhh{
    margin-left: 40px;
}
.extra-section-1{
    margin-left: 3px;
    padding-top: 18px;
}
.small-cont{
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background-color: green;
}
.button-design{
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom:20px ;
    height: 40px;
    width: 160px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgb(56, 51, 51);
    color: white;
}
.my-pic{
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 2px;
    height: 200px;
    width: 200px;
    border-radius: 150px;
    background-image: url("../images/hm/yado.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* container styling */
.Ex-Grid{
    display: grid;
    grid-template-columns: 1fr;
}
/* container styling */
.Cr-Grid{
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width:400px){
     .home-outer-wrapper{
        display: flex;

     }
     .small-mob-screen{
        display: none;
     }
    .home-section-2{
    display: flex;
      }
      /* container styling */
    .Ex-Grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    /* container styling */
      .Cr-Grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (min-width:476px){
    .my-pic{
        margin-top: 20px;
        margin-left: 10px;
        height: 180px;
        width: 180px;
        border-radius: 120px;
        background-color: blue;
    }
    .home-outer-wrapper{
        display: flex;

     }
     .small-mob-screen{
        display: none;
     }
    .home-section-2{
    display: flex;
      }
      /* container styling */
     .Ex-Grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    /* container styling */
    .Cr-Grid{
        display: grid;
        grid-template-columns: 1fr ;
    }
}
@media (min-width:576px){
    .my-pic{
        margin-top: 20px;
        margin-left: 10px;
        height: 200px;
        width: 200px;
        border-radius: 130px;
        background-color: blue;
    }
    .home-section-1{
        margin-left: 75px;
        padding: 10px;
    }
    .home-outer-wrapper{
        display: flex;

     }
     .small-mob-screen{
        display: none;
     }
    .home-section-2{
    display: flex;
      }
      /* container styling */
    .Ex-Grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* container styling */
    .Cr-Grid{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}
@media (min-width:776px){
    .my-pic{
        margin-top: 20px;
        margin-left: 10px;
        height: 250px;
        width: 250px;
        border-radius: 150px;
        background-color: blue;
    }
    .home-section-1{
        margin-left: 75px;
        padding: 10px;
    }
    
    .home-outer-wrapper{
        display: flex;

     }
     .small-mob-screen{
        display: none;
     }
    .home-section-2{
    display: flex;
     margin-right: 30px;
      }
      /* container styling */
    .Ex-Grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .Cr-Grid{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}

.common-img-size{
   margin: 20px auto;
    width: 40px;
   
}
.txt-indent{

}
.common-containers{
    margin: 10px 15px;
    padding: 15px 20px;
    height: 350px;
    background-color: #5a2a1c;
}
.viewAll-button{
    padding: 5px;
    height: 30px;
    width: 80px;
    background-color: black;
}
.glow-color{
    color: #CE7C30;
    font-weight: 900;
}
.contact-containers{
  height: 200px;
  background-color: #535558;

}
.icon-size{
    margin: 0px auto;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 40px;
   
}

/* footer section */
.footer-style{
    padding: 20px;
    background-color: #3C3D44;
}
.footer-profile-pic{
    height: 90px;
    width: 90px;
    border-radius: 45px;
    background-image: url("../images/hm/yado.png");
    background-position: center;
}
.info{
    margin-right: 60px;
}
/* end of footer styling */

